node_modules
package-lock.json
.env
.vscode
https
videos
zz-Sav
.DS_Store
audios
videos4Client/video6.mp4
videos4Client/video20.mp4
effects/media/LXR-1.wav
effects/media/LXR-2.wav
effects/media/LXR-3.wav
effects/media/LXR-4.wav
effects/media/LXR-5.wav
effects/media/LXR-6.wav
effects/media/LXR-7.wav
effects/media/LXR-8.wav
