node_modules
package-lock.json
.env
.vscode
https
videos
zz-Sav
.DS_Store
audios
# videosNEW
videosNEW/video2.mp4
videosNEW/video3.mp4
videosNEW/video4.mp4
videosNEW/video5.mp4
videosNEW/video6.mp4
videosNEW/video7.mp4
videosNEW/video8.mp4
videosNEW/video9.mp4
videosNEW/video10.mp4
videosNEW/video11.mp4
videosNEW/video12.mp4
videosNEW/video13.mp4
videosNEW/video14.mp4
videosNEW/video15.mp4
videosNEW/video16.mp4
videosNEW/video17.mp4
videosNEW/video18.mp4
videosNEW/video19.mp4
videosNEW/video20.mp4
videosNEW/video21.mp4
