@font-face {
  font-family: 'InterVar';
  src: url("./others/InterVariable.ttf");
}

body
{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ff0000;
}


#medias {
  position: absolute;
  display: flex;
  height: 94%;
  width: 100%;
  bottom: 0;
  overflow-y: scroll;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

#buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.5);
}

button {
  font-family: 'InterVar', sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.tel {
  border: solid;
  border-radius: 20px;
  margin: 0.2%;
  padding: 10px;
  width: 10%;
  align-items: center;
  border-width: 3px;
  overflow-y: scroll;
}

.tel, .divS {
  display: flex;
  flex-direction: column;
  /* justify-self: stretch;
  align-content: space-around;
  justify-content: space-around; */
}

.divS {
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
}

.divS>audio, .divS>video {
  width: 100%;
}

#stats {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  z-index: 2;
  color: white;
  font-family: 'InterVar', sans-serif;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.5);
}

#btn_tech{
  margin-right: 30px;
}

#resizeTel{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 50%;
  z-index: 2;
}