html,
body
{
    overflow: hidden;
    background: #000000;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  #atablee {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: 'black';
    background: #000000;
  }
}

#canvas {
  background: #000000;
  position: fixed;
  width:100%;
  height:100%;
}

#video {
  background: #000000;
  position: fixed;
  width:100%;
  height:100%;
}

#video_ {
  background: #000000;
  position: fixed;
  width:100%;
  height:100%;
}

/* #overlay {
  position: absolute; 
  bottom: 90vh; 
  z-index: 2;
  text-align: center;
  background: rgba(0,0,0,0.7);
} */

/* #overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 0px 2px;
  text-transform: uppercase;
  cursor: pointer;
} */

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 40px;
		text-transform: uppercase;
    font-family: "Gill Sans", sans-serif;
		cursor: pointer;
	}

  #overlay h1,h2,h3,h4,p {
		background: transparent;
		border: 0;
		color: #ffffff;
		padding: 12px 18px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
	}